---
import "@fortawesome/fontawesome-free/css/all.min.css";
import Main from "@layouts/main.astro";
import { Image } from "astro:assets";
import Avatar from "@images/Avatar1k.png";
import IconCard from '@components/iconCard.svelte'
import FlipCard from '@components/flipCard.svelte'
import FlipCardHover from '@components/flipCardHover.svelte'
type IconButton = [
    { item: string; icon: string },
    { item: string; icon: string },
    { item: string; icon: string },
    { item: string; icon: string },
  ];
const title = "Home";
const desc = "Molly Scott's UX design and research portfolio";
const ogTitle = "My Portfolio";
const tools:IconButton = [{item:"Figma",icon:"fa-brands fa-figma"},{item:"GitHub",icon:"fa-brands fa-github"},{item:"Linux",icon:"fa-brands fa-linux"},{item:"Miro",icon:"fa-regular fa-note-sticky"}]
---

<Main title={title} desc={desc} ogTitle={ogTitle}>
  <section
    id="home"
    class="scroll-mt-20 min-h-screen grid grid-cols-1 grid-rows-3"
  >
    <div
      class="col-start-1 row-span-1 row-start-2 mx-6 grid grid-cols-3 md:grid-cols-9 grid-rows-2 gap-6"
    >
      <h1
        class="md:col-start-2 text-nowrap col-span-3 sm:col-span-2 h-fit row-start-1 text-4xl md:text-5xl px-12 py-8 w-fit border-2 rounded-full"
      >
        Hi, I'm Molly
      </h1>
      <p
        class="md:col-start-2 ml-8 md:ml-10 text-nowrap col-span-3 sm:col-span-2 h-fit row-start-2 text-2xl md:text-3xl px-8 py-4 w-fit border-2 rounded-full"
      >
        I'm a UX designer
      </p>
    </div>
  </section>
  <section id="about" class="scroll-mt-20 mt-96">
    <div
      class="bg-slate-600 bg-opacity-55 min-h-screen w-auto mx-auto pb-20 rounded-[2em]"
    >
      <h2 class="text-center text-5xl pt-36">About Me</h2>
      <hr class="w-56 mx-auto my-6" />
      <!-- Bento -->
      <div
        class="max-w-[75%] sm:max-w-[90%] 2xl:max-w-screen-xl mx-auto grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 grid-rows-1 gap-4 items-center"
      >
        <!-- Avatar -->
        <FlipCardHover position="ol-span-1 row-span-1 lg:col-start-2 lg:row-start-1">
          <Image
              src={Avatar}
              alt="Cartoon avatar of Molly Scott"
              class="rounded-2xl"
              slot="front"
            />
            <h3 class="text-center text-4xl" slot="back" >Hi there!</h3>
        </FlipCardHover>

        <!-- Tools -->
        <IconCard client:load title="My Favorite Tools" items={tools} position="lg:col-start-1 lg:row-start-1"></IconCard>
        
        <!-- Skills -->
        <div
          class="border rounded-2xl w-full aspect-square flex flex-col items-center justify-center lg:col-start-3 lg:row-start-1 lg:row-span-2 lg:aspect-auto lg:h-full lg:justify-start"
        >
          <h3
            class="text-center mx-auto h-fit w-fit text-2xl my-3 lg:mt-10 lg:mb-8"
          >
            My Top Skills
          </h3>
          <ul
            class="w-[70%] text-xl items-center aspect-square mx-auto grid grid-cols-2 lg:grid-cols-1 gap-2 lg:gap-y-6"
          >
            <li
              class="border text-center rounded-full py-1 px-5 w-full lg:w-full h-fit"
            >
              Skill
            </li>
            <li
              class="border text-center rounded-full py-1 px-5 w-full lg:w-full h-fit"
            >
              Skill
            </li>
            <li
              class="border text-center rounded-full py-1 px-5 w-full lg:w-full h-fit"
            >
              Skill
            </li>
            <li
              class="border text-center rounded-full py-1 px-5 w-full lg:w-full h-fit"
            >
              Skill
            </li>
            <li
              class="border text-center rounded-full py-1 px-5 w-full lg:w-full h-fit"
            >
              Skill
            </li>
            <li
              class="border text-center rounded-full py-1 px-5 w-full lg:w-full h-fit"
            >
              Skill
            </li>
          </ul>
        </div>
        <!-- Background -->
        <div
          class="border rounded-2xl w-full aspect-square flex flex-col items-center justify-center lg:col-start-1 lg:row-start-2 lg:col-span-2 lg:aspect-[2/1] lg:row-span-1"
        >
          <h3 class="text-center mx-auto h-fit w-fit text-2xl my-3">
            My Background
          </h3>
          <ul
            class="w-[70%] lg:w-1/4 aspect-square mx-auto flex flex-wrap gap-x-4 justify-evenly items-center"
          >
            <li
              class="border w-[40%] h-[40%] flex flex-col justify-center items-center rounded-2xl text-center"
            >
              <i aria-hidden="true" class="fa-solid fa-microchip fa-2x"></i>
              <div>Engineering</div>
            </li>
            <li
              class="border w-[40%] h-[40%] flex flex-col justify-center items-center rounded-2xl text-center"
            >
              <i aria-hidden="true" class="fa-solid fa-robot fa-2x"></i>
              <div>Robotics</div>
            </li>
            <li
              class="border w-[40%] h-[40%] flex flex-col justify-center items-center rounded-2xl text-center"
            >
              <i aria-hidden="true" class="fa-solid fa-brain fa-2x"></i>
              <div>Philosophy</div>
            </li>
            <li
              class="border w-[40%] h-[40%] flex flex-col justify-center items-center rounded-2xl text-center"
            >
              <i aria-hidden="true" class="fa-solid fa-hand-holding-heart fa-2x"></i>
              <div class="text-sm">Volunteering</div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <section id="projects" class="scroll-mt-20 min-h-screen mt-96">
    <h2>My Projects</h2>
  </section>
  <section id="contact" class="scroll-mt-20 min-h-screen mt-96">
    <h2>Contact Me</h2>
  </section>
</Main>
