---
import { getCollection } from "astro:content";
import Main from "@layouts/main.astro";
import "@fortawesome/fontawesome-free/css/all.min.css";

export async function getStaticPaths() {
  const projEntries = await getCollection("projects");
  return projEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content } = await entry.render();
---

<Main
  title={entry.data.title}
  desc={entry.data.description}
  ogTitle={entry.data.title}
>
  <nav
    class="mt-28 border dark:border-slate-800 rounded-full w-fit md:w-[75%] mx-auto md:mb-12 py-4 px-6 shadow"
  >
    <ul class="flex flex-row gap-4">
      <li>
        <a class="hover:" href="/">Home</a>
      </li>
      <span>
        <i aria-hidden="true" class="fa-solid fa-chevron-right"></i>
      </span>
      <li>
        <a href=`/projects/${entry.slug}/`>{entry.data.title}</a>
      </li>
    </ul>
  </nav>
  <div
    class="my-4 sm:w-[80%] w-[95%] border border-slate-200 dark:border-slate-800 shadow mx-auto p-4 md:p-16 mb-20 rounded-2xl bg-gradient-to-br"
  >
    <article
      class="mx-auto prose w-full prose-img:rounded-xl prose-img:my-0 prose-slate dark:prose-invert"
    >
      <Content />
    </article>
  </div>
</Main>
